#main{
    background-color:green;
    color:lightblue;
    
}
.titles{
    text-align:center;
    background-color:aqua;
    color:brown;
}
.text{
    font-size:22px;
    color:maroon;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}