#lasagna{
    background-color:red;
    padding:8px;
    
}
#chicken{
    background-color:orange;
    margin-bottom:10px;
    margin-top:10px;
    padding:8px;
    margin-left:10px;
}
#smoothie{
    background-color:aqua;
    padding:8px;
    margin-left:20px;
}